{%extends "base.html"%}
{%block nav%}
{%include 'nav.html'%}
{%endblock%}

{%block content%}


<div class="row">
	<div class = "col-xs-12 text-center">
    {%for i in years %}
    <button type="button" class = "btn btn-secondary btn-lg" onclick="getYear({{i}})">Year{{i}}</button>
    {%endfor%}
    <br><br>

	</div>
</div>
<div class="row">
	<div class = "col-xs-12 text-center">
  <div class = "loading-figure"></div>
		<div id="masonry-grid">
    	<div class="grid-sizer">
    		
    	</div>
   		</div>
	</div>
</div>

{% load static %}
<script src="{% static 'portfolio/js/common.js' %}"></script>

<script type="text/javascript">
loadingGifURL("{% static 'portfolio/media/loading_gif.gif' %}");
function getYear(year){
  beginLoad();
  $( ".grid-item" ).remove();
  var url = '{% url "get-projects-by-year" 0 %}'.replace (0, year);
  $.get(url,onSuccess);
}

</script>

{%endblock%}
