{%extends "base.html"%}
{%block nav%}
{%include 'nav.html'%}
{%endblock%}

{%block content%}
<div class="row">
	<div class = "col-xs-12 text-center">

		Welcome to nothing.

	</div>
</div>
<div class="row">
	<div class = "col-xs-12 text-center">

		<div id="masonry-grid">
    	<div class="grid-sizer">
    		
    	</div>
   		</div>

	</div>
</div>

<script type="text/javascript">
    var $container=$('#masonry-grid');
    $container.masonry({
      itemSelector:'.grid-item',
      percentPosition:true,
      columnWidth:'.grid-sizer',
      animate:true
    });
    $container.on('click','.grid-item',function(){
        var $target = $(this);
        var w = $target.width();
        $target.toggleClass('.grid-item--width2');
        if(w>500){
          w="300px";
        }else{
          w="600px";
        }
        $(this).children().animate({width:w});
        $(this).animate({width:w},doMasonry);
      });

      $container.imagesLoaded().progress(function(){
      $container.masonry();
    });


      getAllImgs();
      function getAllImgs(){
        $.get("{% url 'get-all-projects' %}",function(data){
          for(var i=0; i<data.imageDict.length; i++){
            var domElement='<div class="grid-item"><img width="'+300+'"src="'+data.imageDict[i]+'"/></div>';
            var $wrap=$(domElement);
            $container.append($wrap).masonry('appended',$wrap).masonry();
          }
        });
      }

      function doMasonry(){
        $container.masonry();
      }
</script>

{%endblock%}
