<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Filth</title>
	{% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static "framework/css/main.css" %}">
</head>
<body>

{%block nav%}  
{%endblock%}
  <div class="jumbotron">
      <div class="container text-center">
        <h1>NOTHING</h1>
        
      </div>
    </div>
<div class="container-fluid">
  <div class="row">
    <div class = "col-xs-12 text-center">

      <img src="{% static image%}"/>

    </div>
  </div>
</div>

<footer class="footer">
  <div class="row">
    <div class="text-center">
        No
    </div>
  </div>
</footer>

</body>
</html>