<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Filth</title>
	{% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="{% static 'portfolio/js/masonry.js' %}"></script>
  <script src="{% static 'portfolio/js/freetile.min.js' %}"></script>
  <script src="{% static 'portfolio/js/imagesloaded.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static "portfolio/css/main.css" %}">
</head>
<body>
    <div id="masonry-grid">
    <div class="grid-sizer"></div>
    </div>

    <script type="text/javascript">

      var $container = $('#masonry-grid');
      $container.masonry({
          itemSelector: '.grid-item',
          percentPosition: true,
          columnWidth: '.grid-sizer',
          animate: true
      });
      $container.on( 'click', 'img', function() {
          var w = $(this).width();
          if(w>500){
            w="300px";
          }else{
            w="600px";
          }
          $(this).animate({width: w}, doMasonry());
      });

        $container.imagesLoaded().progress( function(){
          $container.masonry();
        });

      
      getAllImgs();
      function getAllImgs(){
        $.get("{% url 'get-all-images' %}", function(data){
          for (var i=0; i<data.imageDict.length; i++){
            //var rand = 200+Math.random()*100;
            var domElement = '<div class="grid-item"><img width="'+ 300 +'" src="'+data.imageDict[i]+'"/></div>';
            var $wrap = $(domElement);
            $container.append( $wrap).masonry('appended', $wrap).masonry();
          }
        });

      }

      function doMasonry(){
        $container.masonry('reload');
      }
      //window.setInterval($container.masonry('layout'), 1000);
    </script>

</body>
</html>