{%extends "base.html"%}
{%block nav%}
{%include 'nav.html'%}
{%endblock%}

{%block content%}



<div class="row">
  <div class="col-xs-12 text-center">
    <a class="btn btn-primary" href="https://www.linkedin.com/in/incarnated" role="button">LinkedIn</a>
  </div>
</div>

<div class="row">
  <div class="col-xs-5 text-left card z-depth clickTarget resize-11">
    <h3>Employment</h3>
    <div class="collapse">
      <h4>ISS – Senior Software Engineer</h4>
      <i>Jun 2024 - Present</i>
      <p>Node.js, Typescript, Docker, AWS, Redis, React, Tailwind, and probably other stuff.</p>

      <h4>HumbleBundle – Senior Software Engineer</h4>
      <i>Aug 2023 - May 2024</i>
      <p>Python, GCP, Redis, GAE.  Migrated CDN solution and decoupled into multi-vendor compatible interface.</p>

      <h4>Hart – Software Engineer</h4>
      <i>Aug 2020 - Aug 2023</i>
      <p>Backend engineer responsible for Platform API microservices. Built 2 net-new application backends, one RESTful API microservice, another CQRS/ES (eventsourced) architecture.  Relevant tech: NodeJS, Mongo,
        Elasticsearch, SQL, Redis and more</p>

      <h4>Voxel51 – Senior Software Developer</h4>
      <i>Dec 2018 - Mar 2020</i>
      <p>Tech Lead on the Product Team responsible for 2 products related to video-first AI job processing and results
        viewing. Backends: Python, NodeJS. Frontends: Vanilla JS, React, and the usual suspects. Other technologies
        used: Docker(-compose), AWS, GCP, shell, Celery, bull, Redis, Flask, MySQL, and more.</p>

      <h4>SoarTech – Software Engineer II</h4>
      <i>Jul 2017 - Dec 2018</i>
      <p>Worked on several projects in the robotics business area. Used technologies like ROS, OpenCV, C++, Python,
        Keras/Tensorflow, PyTorch, HTML/CSS, JS and more, developed and deployed in linux environments. Scope of work
        ranged from architectural-scale designs, component development, to algorithm research and implementation.</p>

      <h4>CMU – Special Faculty Instructor</h4>
      <i>Aug 2016 – Jun 2017</i>
      <p>Taught two courses on digital fabrication equipment and industrial robotics, including associated software,
        programming, and safety instruction. Additionally, assisted with robotics-focused studio and seminar, providing
        software solutions and aiding in student inquiry.</p>

      <h4>IONTANK – Software Developer</h4>
      <i>May 2016 - Aug 2016</i>
      <p>Developed software component for interactive installation and assisted with other software architecting.
        Participated in planning, design, and implementation over the entire project's lifecycle. Technologies used:
        NodeJS, RabbitMQ, Python, JavaScript, HTML/CSS, shell scripts.</p>

      <h4>CMU – Robotics Fellow</h4>
      <i>Jul 2013 – Aug 2016</i>
      <p>Research and project work related to robotics. Develop and deliver software components, course material and
        other lab infrastructure. Published research. Research included a project that communicated to the robot
        controller and sensor devices, computed a model of a scanned environment, and adapted movement commands to
        changing conditions in an assembly task. Technologies used: Java, RAPID, Arduino/C, Python.</p>
    </div>
  </div>

  <div class="col-xs-5 text-left card z-depth clickTarget resize-11">
    <h3>Education</h3>
    <div class="collapse">

      <h4>Degrees</h4>
      Carnegie Mellon University <br>
      <i>Jan 2014 - May 2017</i><br>
      Masters of Science in Computational Design (3.12 GPA)<br>
      <br>
      Carnegie Mellon University <br>
      <i>Aug 2008 - May 2013</i><br>
      Bachelor of Architecture with College Honors (3.39 GPA)<br>
      Recipient of Design Commends (S’11, S’12)<br>
      Dean’s List for seven consecutive semesters (F’09 – F’12)<br>

      <h4>Relevant Courses</h4>
      48-624: Parametric Modeling <br>
      48-724: Parametric Design<br>
      48-789: Shape and Computation<br>
      15-102: Exploring Programming with Graphics<br>
      15-112: Fundamentals of Programming and Computer Science<br>
      15-121: Introduction to Data Structures<br>
      15-122: Principles of Imperative Programming<br>
      15-214: Principles Object Oriented Software Construction<br>
      15-313: Fundamentals of Software Engineering<br>
      15-637: Web Application Development<br>
    </div>
  </div>


  <div class="col-xs-5 text-left card z-depth clickTarget resize-11">

    <h3>Skills</h3>
    <div class="collapse">
      <div class="col-xs-6 resize-12">
        <h4>Programming</h4>
        <ul class="list-group">
          <li class="list-group-item">Javascript</li>
          <li class="list-group-item">Python</li>
          <li class="list-group-item">C#</li>
          <li class="list-group-item">SQL</li>
          <li class="list-group-item">Java</li>
          <li class="list-group-item">C++</li>
          <li class="list-group-item">Go</li>
        </ul>
      </div>
      <div class="col-xs-6 resize-12">
        <h4>Frameworks, Libraries & other Technology</h4>
        <p>
          Python – Django, Flask, FastAPI, matplotlib, Keras, Pytorch<br>
          JS – Node.js, Express, KOA, Fasitfy, React, Socket.io, PIXI.js, ws<br>
          Java – JavaFX, Swing, Spark, Encog, Processing<br>
          C++ – OpenCV<br>
          C – Arduino<br>
          Datastores – Postgres, MySql, MSSQL, Mongo, Redis, Elasticsearch
          <br>
          Misc tools/envs:<br>
          Docker, Git, AWS, GCP, ZMQ, RabbitMQ
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-5 text-left card z-depth clickTarget resize-11">
    <h3>Contributions & Publications</h3>
    <div class="collapse">
      <h4>Open Perpetuum Project – Project Manager + Software Developer</h4>
      <i>Aug 2017 - Jan 2022</i>
      <p>Open-source community-driven development project of a MMO (Massively-multiplayer online game) server. Led
        diverse team spanning timezones, nationalities and experiences in game design and implementation. Established
        software-process, team development best-practices, version control conventions, reviews, and more. Server
        developed in C# with MSSQL database, with other supporting tools using a wider range including: Python, PHP,
        React, and more.</p>

      <h4>Misc Open source contributions</h4>
      Fastify: <a href="https://github.com/fastify/fastify/releases/tag/v4.25.0">Release notes</a><br>
      Mermaid.js: <a href="https://github.com/mermaid-js/mermaid/releases/tag/v10.2.3">Release notes</a><br>
      PlankaKanban: <a href="https://github.com/plankanban/planka/releases/tag/v1.13.0">Release notes</a>
      <a href="https://github.com/plankanban/planka/pull/443">Fix #441</a>, <a
        href="https://github.com/plankanban/planka/pull/457">Feature #450</a><br>
      FreeCol: <a href="https://github.com/FreeCol/freecol/commit/01abb56a0946cf6110d5e57febac27a59e429d8b ">Feature
        #43</a>, <a href="https://github.com/FreeCol/freecol/commit/ff2734bcb11323574d713dc2d554077e1ee70277">Feature
        #199</a>

      <h4>Rob|Arch 2016 Publication</h4>
      <p>Authored “Autonomous Robotic Assembly with Variable Material Properties” Coauthored “RECONstruction”</p>

      <h4>Rob|Arch 2014 Publication</h4>
      <p>Contributed work for “All Bent Out”</p>

      <h4>ACADIA 2014 Publication</h4>
      <p>Contributed work for “Seeing is Doing”</p>

      <h4>[EN]Coding Architecture Publication</h4>
      <p>Thesis work and cover artwork included in conference publication.</p>
    </div>
  </div>
</div>


{% load static %}
<script src="{% static 'portfolio/js/standard-page.js' %}"></script>

<script type="text/javascript">
  $(".clickTarget").click(function () {
    var target = $(this).children(".collapse")[0];
    $(target).collapse('toggle');
  });
  colResize();
  $(window).smartresize(colResize);
  function colResize() {
    var w = $(window).width();
    console.log(w);
    if (w < 700) {
      $(".resize-11").addClass("col-xs-11").removeClass("col-xs-5");
      $(".resize-12").addClass("col-xs-12").removeClass("col-xs-6");
    } else {
      $(".resize-11").removeClass("col-xs-11").addClass("col-xs-5");
      $(".resize-12").removeClass("col-xs-12").addClass("col-xs-6");
    }
  }
</script>


{%endblock%}