{%extends "base.html"%}
{%block nav%}
{%include 'nav.html'%}
{%endblock%}

{%block content%}



<div class="row">
  <div class = "col-xs-12 text-center">
    <a class="btn btn-primary" href="https://www.linkedin.com/in/incarnated" role="button">LinkedIn</a>
  </div>
</div>

<div class="row">
  <div class="col-xs-5 text-left card z-depth clickTarget resize-11">
    <h3>Employment</h3>
    <div class="collapse">
        <h4>Voxel51 – Senior Software Developer</h4>
        <i>Dec 2018 - March 2020</i>
        <p>Tech Lead on the Product Team responsible for <a href="https://scoop.voxel51.com">Scoop</a> and the <a href="https://console.voxel51.com">Platform</a>: a scalable video processing API.  <a href="https://voxel51.com/docs/api/">Read the Docs!</a>  Backends: Python, NodeJS. Frontends: Vanilla JS, React, and the usual suspects. Other technologies used: Docker(-compose), AWS, GCP, shell, Celery, bull, Redis, Flask, MySQL, and more.</p>


        <h4>SoarTech – Software Engineer II</h4>
        <i>Jul 2017 - Dec 2018</i>
        <p>Worked on several projects in the robotics business area.  Used technologies like ROS, OpenCV, C++, Python, Keras/Tensorflow, PyTorch, HTML/CSS, JS and more, developed and deployed in linux environments.  Scope of work ranged from architectural-scale designs, component development, to algorithm research and implementation.</p>


        <h4>Open Perpetuum Project – Project Manager + Software Developer</h4>
        <i>Aug 2017 - Present</i>
        <p>Open-source community-driven development project of a MMO (Massively-multiplayer online game) server.  Led diverse team spanning timezones, nationalities and experiences in game design and implementation.  Established software-process, team development best-practices, version control conventions, reviews, and more.  Server developed in C# with MSSQL database, with other supporting tools using a wider range including: Python, PHP, React, and more.</p>


        <h4>CMU – Special Faculty Instructor</h4>
        <i>Aug 2016 – Jun 2017</i>
        <p>Taught two courses on digital fabrication equipment and industrial robotics, including associated software, programming, and safety instruction.  Additionally, assisted with robotics-focused studio and seminar, providing software solutions and aiding in student inquiry.</p>
      
      
        <h4>IONTANK – Software Developer</h4>
        <i>May 2016 - Aug 2016</i>
        <p>Developed software component for interactive installation and assisted with other software architecting.  Participated in planning, design, and implementation over the entire project's lifecycle.  Technologies used: NodeJS, RabbitMQ, Python, JavaScript, HTML/CSS, shell scripts.</p>
      
      
        <h4>CMU – Robotics Fellow</h4>
        <i>Jul 2013 – Aug 2016</i>
        <p>Research and project work related to robotics.  Develop and deliver software components, course material and other lab infrastructure.  Published research.  Research included a project that communicated to the robot controller and sensor devices, computed a model of a scanned environment, and adapted movement commands to changing conditions in an assembly task.  Technologies used: Java, RAPID, Arduino/C, Python.</p>
      
        <h4>Biologic Design Group – Research Assistant</h4>
        <i>May 2013 - Jul 2013</i>
        <p>Developed software to demonstrate PCM energy savings and design tools with performative criteria for group.  Technology used: Java.
        </p>
      
        <h4>CMU – Digital Fabrication Lab Monitor</h4>
        <i>Oct 2009 – May 2013</i>
        <p>
            Overseeing proper and safe usage of lasercutter, CNC 3–axis mill, 3D printer, Vacuum Former, 6-axis ABB arm.  Assist and monitor student lab usage.
        </p>
      
        <h4>Fisher ARCHitecture – Design Intern</h4>
        <i>May 2012 - Aug 2012</i>
        <p>Intern and parametric consult.  Led workshops in Rhino and Grasshopper.  
        </p>
      
        <h4>CMU – Thesis Adviser</h4>
        <i>Sep 2015 – May 2016</i>
        <p>Selected by thesis candidates for advising and evaluation.  Responsible for offering feedback, critique and consultation on students’ work.  
        </p>
      
        <h4>CMU – Teaching Assistantships:</h4>
        <i>Sep 2012 – May 2014</i>
        <p>Intro. to Architectural Robotics<br>
      Architecture Studio: Difficult Synthesis<br>
      Fabricating Customization<br>
      Materials and Assembly<br>
      Intro. to Digital Media<br>
      </p>
      
    </div>
  </div>

  <div class="col-xs-5 text-left card z-depth clickTarget resize-11">
    <h3>Education</h3>
    <div class="collapse">
      
      <h4>Degrees</h4>
      Carnegie Mellon University  <br>
      <i>2014 - 2017</i><br>
      Masters of Science in Computational Design (3.12 GPA)<br>
      <br>
      Carnegie Mellon University  <br>
      <i>2008 - 2013</i><br>
      Bachelor of Architecture with College Honors (3.39 GPA)<br>
      Recipient of Design Commends (S’11, S’12)<br>
      Dean’s List for seven consecutive semesters (F’09 – F’12)<br>
      
      <h4>Relevant Courses</h4>
        48-624: Parametric Modeling <br>
        48-724: Parametric Design<br>
        48-789: Shape and Computation<br>
        15-102: Exploring Programming with Graphics<br>
        15-112: Fundamentals of Programming and Computer Science<br>
        15-121: Introduction to Data Structures<br>
        15-122: Principles of Imperative Programming<br>
        15-214: Principles Object Oriented Software Construction<br>
        15-313: Fundamentals of Software Engineering<br>
        15-637: Web Application Development<br>
      

    </div>
  </div>


  <div class="col-xs-5 text-left card z-depth clickTarget resize-11">  

    <h3>Skills</h3>
    <div class="collapse">
      <div class="col-xs-6 resize-12">
        <h4>Programming</h4>
        <ul class="list-group">
          <li class="list-group-item">Java – 6 years</li>
          <li class="list-group-item">Python – 6 years</li>
          <li class="list-group-item">Javascript – 2.5 years</li>
          <li class="list-group-item">HTML/CSS – 5 years</li>
          <li class="list-group-item">C# – 2.5 years</li>
          <li class="list-group-item">C++ – 1.5 years</li>
          <li class="list-group-item">RAPID (ABB robotics) – 5 years</li>
          <li class="list-group-item">G (CNC programming) – 4 years</li>
          <li class="list-group-item">C – 0.5 years</li>
          <li class="list-group-item">PHP – 0.5 years</li>
        </ul>
      </div>
      <div class="col-xs-6 resize-12">
        <h4>Frameworks, Libraries & other Technology</h4>
        <p>
        Java – JavaFX, Swing, Spark, Encog, Processing<br>
        Python – Django, matplotlib, Keras, Pytorch<br>
        JS – jQuery, NodeJS, Socket.io, PIXI.js, React<br>
        HTML/CSS – Bootstrap, Materialize<br>
        C++ - OpenCV<br>
        C – Arduino<br>

        Git, Heroku, Amazon AWS, Gradle, Ant, TravisCI, ZMQ, RabbitMQ, SQL(Microsoft Server)
      </p>
      </div>

      <div class="col-xs-6 resize-12">
        <h4>Software</h4>
        <p>
          IDEs & Editors: Eclipse, PyCharm, Sublime Text, Notepad++
        </p>
          <p>
         CAD/CAM:  Rhinoceros3D, Grasshopper, RhinoCAM, MasterCAM, RobotStudio, AutoCad
          </p>
          <p>
          Text & Graphics:  Adobe Illustrator, Adobe PhotoShop, Adobe InDesign, MS Word, MS PowerPoint, MS Excel, Google Docs, Google Sheet, Google Slides
          </p>
          <p>
          OS: Ubuntu/Linux (Preferred), Windows, Mac
          </p>
      </div>
      <div class="col-xs-6 resize-12">
        <h4>Hardware</h4>
          Lasercutter, CNC Mill, 3D printer, 6-axis Industrial Robotic Arm, 
          Full woodshop experience, Mill, Router, Table Saw, Band saw, Drill press, Vacuum Former, and hand tools.  
      </div>
    </div>
  </div>
  <div class="col-xs-5 text-left card z-depth clickTarget resize-11">
    <h3>Contributions & Publications</h3>
    <div class="collapse">
      
        <h4>Open Perpetuum Project – Open Source Project Manager and Contributor</h4>
        <p>Leading and contributing to open-source MMO game server and related projects.</p>

        <h4>FreeCol – Open Source Contributor</h4>
        <p>Contributed to open-source project, developed and merged 2 feature requests.  Team project for 15-313 (CMU).  </p>
      
        <h4>Rob|Arch 2016 Publication</h4>
        <p>Authored “Autonomous Robotic Assembly with Variable Material Properties”  Coauthored “RECONstruction”</p>
      
        <h4>Rob|Arch 2014 Publication</h4>
        <p>Contributed work for “All Bent Out”</p>
      
        <h4>ACADIA 2014 Publication</h4>
        <p>Contributed work for “Seeing is Doing”</p>
      
        <h4>[EN]Coding Architecture Publication</h4>
        <p>Thesis work and cover artwork included in conference publication.</p>
      </div>
    </div>
  </div>
</div>

{% load staticfiles %}
<script src="{% static 'portfolio/js/standard-page.js' %}"></script>

<script type="text/javascript">
$(".clickTarget").click(function(){
  var target = $(this).children(".collapse")[0];
  $(target).collapse('toggle');
});
colResize();
$(window).smartresize(colResize);
function colResize(){
  var w = $(window).width();
  console.log(w);
  if(w<700){
    $(".resize-11").addClass("col-xs-11").removeClass("col-xs-5");
    $(".resize-12").addClass("col-xs-12").removeClass("col-xs-6");
  }else{
    $(".resize-11").removeClass("col-xs-11").addClass("col-xs-5");
    $(".resize-12").removeClass("col-xs-12").addClass("col-xs-6");
  }
}
</script>


{%endblock%}
