{%extends "base.html"%}
{%block nav%}
{%include 'nav.html'%}
{%endblock%}

{%block content%}
<div class="row">
	<div class = "col-xs-12 text-center">

		<h1 id="title">Terrible work by a terrible person</h1>
		<h3>Just awful</h3>

	</div>
</div>


<script type="text/javascript">

	function onResizeWindow(){
	  	var navBarHeight = $(".navbar").height();
	  	$("body").css("padding-top", navBarHeight+10);
	  	console.log(navBarHeight);
	}
	onResizeWindow();
	$(window).smartresize(onResizeWindow);

</script>




{%endblock%}
