{%extends "base.html"%}
{%block nav%}
{%include 'nav.html'%}
{%endblock%}

{%block content%}
<div class="row">
	<div class = "col-xs-12 text-center">

		<h1 id="title"></h1>

	</div>
</div>


<script type="text/javascript">

	function onResizeWindow(){
	  	var navBarHeight = $(".navbar").height();
	  	$("body").css("padding-top", navBarHeight+10);
	  	console.log(navBarHeight);
	}
	onResizeWindow();
	$(window).smartresize(onResizeWindow);


	var $h1 = $("#title");
	var subtitleArray = ["My splendor is the pallor of your failed reality.", "Welcome to nothing.", "You've come to the wrong place.", "When did it begin?", "Destroy. Erase. Improve."];
	var index= Math.floor((subtitleArray.length)*Math.random());
	$h1.text(subtitleArray[index]);
</script>




{%endblock%}
