{%extends "base.html"%}
{%block nav%}
{%include 'nav.html'%}
{%endblock%}

{%block content%}

<div id="commentblock" class="row">
  <div class = "col-xs-12 text-center">
    <p class="comment">MSCD Thesis work in progress! <br>
    [January - June 2017]<br>
    Technology used: Java SE 8, JavaFX, jUnit, Gradle, Encog.<br>
    <img alt="IT'S ALIVE!! ..maybe" src="https://travis-ci.org/MikeJeffers/MSCD-Thesis.svg?branch=master"><br></p>
  </div>
</div>
<div class="row">
  <div class = "col-xs-12 text-center">
    <a class="btn btn-primary" href="https://github.com/MikeJeffers/MSCD-Thesis" role="button">View Code on Github</a>
  </div>
</div>
<div class="row">
	<div class = "col-xs-12 text-center">
  <div class = "loading-figure"></div>
		<div id="masonry-grid">
    	<div class="grid-sizer">
    		
    	</div>
   		</div>
	</div>
</div>

{% load staticfiles %}
<script src="{% static 'portfolio/js/common.js' %}"></script>

<script type="text/javascript">
loadingGifURL("{% static 'portfolio/media/loading_gif.gif' %}");
pullImgs();
function pullImgs(year){
  beginLoad();
  $( ".grid-item" ).remove();
  var url = '{% url "get-masters-images" %}';
  $.get(url,onSuccess);
}

</script>

{%endblock%}
