{%extends "base.html"%}
{%block nav%}
{%include 'nav.html'%}
{%endblock%}

{%block content%}
<div class="row">
	<div class = "col-xs-12 text-center">
	<div class = "topic-button-panel"></div>
	<br><br>

	</div>
</div>
<div class="row">
	<div class = "col-xs-12 text-center">

		<div id="masonry-grid">
		<div class="grid-sizer">
			
		</div>
		</div>

	</div>
</div>

<script type="text/javascript">
  (function($,sr){

  // debouncing function from John Hann
  // http://unscriptable.com/index.php/2009/03/20/debouncing-javascript-methods/
  var debounce = function (func, threshold, execAsap) {
      var timeout;

      return function debounced () {
          var obj = this, args = arguments;
          function delayed () {
              if (!execAsap)
                  func.apply(obj, args);
              timeout = null;
          };

          if (timeout)
              clearTimeout(timeout);
          else if (execAsap)
              func.apply(obj, args);

          timeout = setTimeout(delayed, threshold || 100);
      };
  }
  // smartresize 
  jQuery.fn[sr] = function(fn){  return fn ? this.bind('resize', debounce(fn)) : this.trigger(sr); };

})(jQuery,'smartresize');


</script>



<script type="text/javascript">
var numCols = 5;
var $container=$('#masonry-grid');
	$container.masonry({
	  itemSelector:'.grid-item',
	  percentPosition:true,
	  columnWidth:'.grid-sizer',
	  animate:true
	});
	$container.on('click','.grid-item',function(){
		var $target = $(this);
        var w = $target.width();
        var windowWidth = $container.width();
        var fifth = (windowWidth/numCols);

        $target.toggleClass('.grid-item--width2');
        if(w>fifth+1){
          w=fifth;
        }else{
          w=fifth*2;
        }
        $(this).children().animate({width:w});
        $(this).animate({width:w},doMasonry);
	});


getTopics();

function getTopics(){
	$.get("{% url 'get-thesis-topics' %}", onTopicReturn);
}

function onTopicReturn(data){
	console.log(data);
	for (var i = data.topics.length - 1; i >= 0; i--) {
		var topic = data.topics[i].toString();
		var domButton = ' <button type="button" class="btn btn-secondary" onclick=getTopic("'+topic+'")>'+topic+'</button>' ;
		$('.topic-button-panel').append(domButton);
	}
}

function getTopic(topic){
	$( ".grid-item" ).remove();
	console.log(topic);
	var url = '{% url "get-thesis-by-topic" 0 %}'.replace (0, topic);
	$.get(url,onSuccess);
}
function onSuccess(data){
	var windowWidth = $container.width();
	var fifth = (windowWidth/numCols);
	for(var i=0; i<data.imageDict.length; i++){
		var domElement='<div class="grid-item"><img width="'+fifth+'"src="'+data.imageDict[i]+'"/></div>';
		var $wrap=$(domElement);
		$container.append($wrap).masonry('appended',$wrap).masonry();
	}
	doMasonry();
}


function doMasonry(){
      $container.imagesLoaded().progress(function(){
      	  $container.masonry({
          itemSelector:'.grid-item',
          percentPosition:true,
          columnWidth:'.grid-sizer',
          animate:true
        });
      }).done(function(){
        $container.masonry({
          itemSelector:'.grid-item',
          percentPosition:true,
          columnWidth:'.grid-sizer',
          animate:true
        });
      });
    }

function resizeElements(){
        var windowWidth = $container.width();
        var w = (windowWidth/numCols);
        $(this).children().animate({width:w});
        $(this).animate({width:w});
      }

      function onResizeWindow(){
        if($container){
          $(".grid-item").each(resizeElements);
          doMasonry();
        }
      }

      $(window).smartresize(onResizeWindow);


</script>


{%endblock%}
