{%extends "base.html"%}
{%block nav%}
{%include 'nav.html'%}
{%endblock%}


{%block content%}


<div class="row">
	<div class = "col-xs-12 text-center">
   <div class = "topic-button-panel"></div>
   <br><br>

 </div>
</div>
<div id="commentblock" class="row">
  <div class = "col-xs-12 text-center">
    <p class="comment">B.Arch Thesis work completed Spring 2013.<br> 
    Team: <a href="http://www.jordanparsons.com">Jordan Parsons</a></p>
  </div>
</div>
<div class="row">
	<div class = "col-xs-12 text-center">

    <div id="masonry-grid">
      <div class="grid-sizer">

      </div>
    </div>

  </div>
</div>
{% load staticfiles %}
<script src="{% static 'portfolio/js/common.js' %}"></script>

<script type="text/javascript">
  loadingGifURL("{% static 'portfolio/media/loading_gif.gif' %}");
  getTopics();

  function getTopics(){
    $.get("{% url 'get-thesis-topics' %}", onTopicReturn);
  }

  function onTopicReturn(data){
    for (var i = data.topics.length - 1; i >= 0; i--) {
      var topic = data.topics[i].toString();
      var domButton = '<button type="button" class="btn btn-secondary" onclick=getTopic("'+topic+'")>'+topic+'</button>' ;
      $('.topic-button-panel').append(domButton);
    }
    var $bookButton = $('<a></a>').addClass("btn btn-primary").attr('href', "https://issuu.com/mikejeffers/docs/2015_1_21_v8_mj_jp_ugthesis");
    $bookButton.text("THE BOOK");
    $('.topic-button-panel').append($bookButton);
  }

  function getTopic(topic){
    $( ".grid-item" ).remove();
    var url = '{% url "get-thesis-by-topic" 0 %}'.replace (0, topic);
    $.get(url,onSuccess);
  }

</script>

{%endblock%}
