* {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica";
	font-size: 14px;
}

body {
  min-height: 2000px;
  padding-top: 70px;
}

.error{
	color: black;
	font-style: italic;
}

.success{
	color: black;
	font-style: italic;
}

/*changes!!!*/


/* fluid 5 columns */
.grid-sizer,
.grid-item { 
	width: 20%; 
}
.grid-item img{ 
	width: 100.5%; 
}
/* 2 columns wide */
.grid-item--width2 { 
	width: 40%; 
}

.grid-item--width2 img{ 
	width: 100.5%; 
}

